citrix-edi-poc-scenario-2/src/main/mule/citrix-edi-poc-scenario-2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:x12="http://www.mulesoft.org/schema/mule/x12" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:as2="http://www.mulesoft.org/schema/mule/as2" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/x12 http://www.mulesoft.org/schema/mule/x12/current/mule-x12.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="564b64ce-2726-4107-9054-d676be1a63d1" />
	<x12:config name="X12_EDI_Config" doc:name="X12 EDI Config" doc:id="d0ceb738-7cc8-4cc6-a634-67add241f5ef" >
		<x12:schemas >
			<x12:schema value="/x12/004010/810.esl" />
		</x12:schemas>
	</x12:config>
	<flow name="citrix-edi-poc-scenario-2Flow" doc:id="0bd669d8-c1b4-4f36-8429-e7e4c0a38920" >
		<scheduler doc:name="Scheduler" doc:id="ffec8171-bddd-4f86-ba6d-6d6f881b3539" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read" doc:id="c56072cb-25a3-40dd-910a-603852a65f22" path="/Users/asherry/workspace7/citrix-edi-poc/citrix-edi-poc-scenario-2/src/test/resources/C4303204_2019-06-13 T14.28.47.1801_143ef78a-95c3-4c35-83ea-66a8cbd82245_810.xml" config-ref="File_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="97161c71-7b14-4ce7-8372-38bf1f170d57" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://schemas.microsoft.com/BizTalk/EDI/X12/2006
---
{
	"Delimiters": "*|U\n",
	"Errors": [],
	TransactionSets: {
		v004010: {
			"810": [{
				SetHeader: {
					ST01: payload.ns0#X12_00401_810.ST.ST01 as String,
					ST02: payload.ns0#X12_00401_810.ST.ST02 as String,
					ST03: payload.ns0#X12_00401_810.ST.ST03
				},
				Heading: {
					"020_BIG": {
						BIG01: payload.ns0#X12_00401_810.ns0#BIG.BIG01 as String as Date {format: 'yyyyMMdd'},
						BIG02: payload.ns0#X12_00401_810.ns0#BIG.BIG02 as String,
						BIG03: payload.ns0#X12_00401_810.ns0#BIG.BIG03 as String as Date {format: 'yyyyMMdd'},
						BIG04: payload.ns0#X12_00401_810.ns0#BIG.BIG04,
						BIG07: payload.ns0#X12_00401_810.ns0#BIG.BIG07
					},
					"040_CUR": {
						CUR01: payload.ns0#X12_00401_810.ns0#CUR.CUR01,
						CUR02: payload.ns0#X12_00401_810.ns0#CUR.CUR02
					},
					"050_REF": payload.ns0#X12_00401_810.*ns0#REF map ( rEF , indexOfREF ) -> {
						REF01: rEF.REF01,
						REF02: rEF.REF02 as String
					}
				},
				Detail: {
					"010_IT1_Loop": payload.ns0#X12_00401_810.*ns0#IT1Loop1 map ( iT1Loop1 , indexOfIT1Loop1 ) -> {
						"010_IT1": {
							IT101: iT1Loop1.ns0#IT1.IT101 as String
						}
					}
				},
				Summary: {
					"010_TDS": {
						TDS01: payload.ns0#X12_00401_810.ns0#TDS.TDS01 as Number {class: "java.math.BigDecimal"}
					}
				}
			}]
		}
	},
	Interchange: {
		ISA01: "00",
		ISA02: "",
		ISA03: "00",
		ISA04: "",
		ISA05: "02",
		ISA06: "RDFS",
		ISA07: "ZZ",
		ISA08: "ACME",
		ISA09: "2018-12-12T00:00:00-08:00" as DateTime {class: "java.util.Calendar"},
		ISA10: 43020000,
		ISA11: "U",
		ISA12: "00401",
		ISA13: 102,
		ISA14: "0",
		ISA15: "P",
		ISA16: "|"
	},
	Group: {
		GS01: "IM",
		GS02: "ACME",
		GS03: "RDFS",
		GS04: "2018-12-12T00:00:00-08:00" as DateTime {class: "java.util.Calendar"},
		GS05: 43135000,
		GS06: 313671,
		GS07: "X",
		GS08: "004010"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<x12:write doc:name="Write" doc:id="e0582f20-3056-42c6-9ac8-cf5c51cd2bf0" config-ref="X12_EDI_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="ec7f98cd-4b5d-4431-85be-412d45f2a735" />
	</flow>
</mule>
